@use '../../utils/' as * ;

/*============= TEAM CSS AREA ===============*/
.team1-section-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .speakers-slider-area {
        position: relative;
        z-index: 1;
        &.owl-carousel .owl-stage-outer {
            overflow: inherit !important;
        }
        .owl-dots {
            margin-top: 80px;
            position: relative;
            @media #{$xs} {
                margin-top: 50px;
                text-align: center;
            }
            @media #{$md} {
                margin-top: 50px;
                text-align: center;
            }
            &::after {
                position: absolute;
                content: "";
                height: 10px;
                width: 100%;
                left: 0;
                top: 0;
                background: #F1F0F2;
                border-radius: 10px;
                z-index: -1;
                @media #{$xs} {
                    display: none;
                }
                @media #{$md} {
                    display: none;
                }
            }
            button {
                height: 10px;
                width: 432px;
                border-radius: 10px;
                background: #F1F0F2;
                z-index: 2;
                position: relative;
                top: -9px;
                @media #{$xs} {
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                    margin: 0 16px 0 0;
                }
                @media #{$md} {
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                    margin: 0 16px 0 0;
                }
                &.active {
                    background: var(--ztc-bg-bg-3);
                    transition: all .4s;
                }
            }
        }
        .team-boxarea {
            position: relative;
            z-index: 1;
            text-align: center;
            &:hover {
                .img1 {
                    &::after {
                        transition: all .4s;
                        visibility: visible;
                        opacity: 1;
                        transform: scale(1);
                    }
                    img {
                        transform: scale(1.1) rotate(-4deg);
                        transition: all .4s;
                    }
                    .plus {
                        a {
                            visibility: visible;
                            opacity: 1;
                            transition: all .6s;
                            top: 50%;
                        }
                    }
                }
            }
            .img1 {
                background: var(--ztc-bg-bg-3);
                padding: 5px;
                border-radius: 50%;
                height: 210px;
                width: 210px;
                margin: 0 auto;
                position: relative;
                top: 60px;
                transition: all .4s;
                overflow: hidden;
                &::after {
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    background: rgba(67, 56, 193, 0.20);
                    backdrop-filter: blur(1px); 
                    opacity: 0;
                    visibility: hidden;
                    transform: scale(0.7);
                    transition: all .4s; 
                    border-radius: 50%;  
                }
                img {
                    height: 210px;
                    width: 210px;
                    object-fit: cover;
                    border-radius: 50%;
                    transition: all .4s;
                }
                .plus {
                    a {
                        height: 48px;
                        width: 48px;
                        text-align: center;
                        line-height: 48px;
                        border-radius: 50%;
                        background: var(--ztc-bg-bg-3);
                        color: var(--ztc-text-text-1);
                        display: inline-block;
                        transition: all .6s;
                        position: absolute;
                        top: 30%;
                        left: 50%;
                        margin-left: -24px;
                        margin-top: -24px;
                        font-size: var(--ztc-font-size-font-s20);
                        visibility: hidden;
                        opacity: 0;
                        z-index: 2;
                    }
                }
            }
            .content-area {
                border-radius: 300px;
                background: var(--ztc-bg-bg-1);
                box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.09);  
                padding: 86px 30px 30px;    
                a {
                    color: var(--ztc-text-text-2);
                    text-align: center;
                    font-family: var(--ztc-family-font2);
                    font-size: var(--ztc-font-size-font-s24);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 24px; /* 100% */
                    letter-spacing: -0.72px;
                    text-transform: uppercase;
                    display: inline-block;
                    transition: all .4s;
                    &:hover {
                        color: var(--ztc-text-text-4);
                        transition: all .4s;
                    }   
                }  
                p {
                    color: var(--ztc-text-text-3);
                    text-align: center;
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-semibold);
                    line-height: 18px; /* 100% */     
                } 
            }
        }
    }
}

// Homepage 02 //
.team2-section-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    @media #{$xs} {
        height: 1910px;
    }
    @media #{$md} {
        height: 1620px;
    }
    .image-container {
        flex: 1;
        text-align: center;
        position: relative;
        height: 100%;
        @media #{$xs} {
            margin-top: 30px;
        }
        @media #{$md} {
            margin-top: 30px;
        }
        .image {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .6s;
            opacity: 0;
            transform: rotateY(54deg);
            width: 525px;
            .service-img5 {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            &.active {
                opacity: 1;
                transition: all .5s;
                transform: rotateY(0deg);
            }

            ul {
                left: 50%;
                position: absolute;
                bottom: 24px;
                margin-left: -95px;
                li {
                    display: inline-block;
                    a {
                        height: 44px;
                        width: 44px;
                        text-align: center;
                        line-height: 44px;
                        border-radius: 50%;
                        background: var(--ztc-bg-bg-1);
                        color: var(--ztc-text-text-5);
                        font-size: var(--ztc-font-size-font-s20);
                        transition: all .4s;
                        display: inline-block;
                        &:hover {
                            background: var(--ztc-bg-bg-5);
                            transition: all .4s;
                        }
                    }
                }
            }
        }
    }
    
    .list-container {
        flex: 1;
        padding: 0 50px 0 0;
        @media #{$xs} {
            padding: 0;
        }
        @media #{$md} {
            padding: 0;
        }
        ul {
            list-style: none;
            li {
                padding: 32px 0;
                cursor: pointer;
                position: relative;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #7E7F80;
                opacity: 60%;
                &::after {
                    position: absolute;
                    content: "";
                    height: 3px;
                    width: 0;
                    left: 0;
                    bottom: -2px;
                    background: var(--ztc-bg-bg-4);
                    transition: all .6s;
                }
                span {
                    margin: 0 20px 0 0;
                }
                .side-heading {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  @media #{$xs} {
                      display: block;
                  }
                  .heading-area {
                      a {
                        color: var(--ztc-text-text-5);
                        font-family: var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s24);
                        font-style: normal;
                        font-weight: var(--ztc-weight-semibold);
                        line-height: 24px; 
                        display: inline-block;
                        transition: all .4s;
                        @media #{$xs} {
                            line-height: 30px;
                        }
                      }
                  }
                  .arrow {
                      a {
                          height: 50px;
                          width: 50px;
                          text-align: center;
                          line-height: 44px;
                          border-radius: 50%;
                          transition: all .4s;
                          display: inline-block;
                          border: 1px solid var(--ztc-text-text-5);
                          svg {
                              transition: all .4s;
                              height: 24px;
                              width: 24px;
                              display: inline-block;
                              text-align: center;
                              transition: all .4s;
                          }
                          @media #{$xs} {
                              margin-top:20px;
                          }
                      }
                  }
                }
                &:hover {
                    opacity: 1;
                    transition: all .4s;
                    &::after {
                        width: 100%;
                        transition: all .6s;
                    }
                    .side-heading {
                      .heading-area {
                          a {
                              color: var(--ztc-text-text-5);
                              transition: all .4s;
                          }
                      }
                      .arrow {
                          a {
                              background: var(--ztc-text-text-6);
                              transition: all .4s; 
                              border: 1px solid var(--ztc-text-text-6); 
                              svg {
                                  filter: brightness(0);
                              }
                          }
                      }
                    }
                }
            }
        }
    }

}

// Homepage 04 //
.team4-section-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .team-widget-slider {
        position: relative;
        z-index: 1;
        .owl-nav {
            position: absolute;
            right: 0;
            top: -130px;
            @media #{$xs} {
                position: relative;
                left: 0;
                text-align: center;
                margin-top: 30px;
                top: 0;
            }
            @media #{$md} {
                position: relative;
                left: 0;
                text-align: center;
                margin-top: 30px;
                top: 0;
            }
            button {
                height: 70px;
                width: 70px;
                text-align: center;
                line-height: 70px;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.10);
                display: inline-block;
                transition: all .4s;
                font-size: var(--ztc-font-size-font-s30);
                color: var(--ztc-text-text-1);
                &:hover {
                    background: var(--ztc-bg-bg-7);
                    transition: all .4s;
                }
                &.owl-prev {
                    margin: 0 16px 0 0;
                }
            }
        }
        .team-single-boxarea {
            position: relative;
            z-index: 1;
            text-align: center;
            &:hover {
                .img1 {
                    ul {
                        visibility: visible;
                        opacity: 1;
                        transition: all .6s;
                        bottom: 75px;
                    }
                }
            }
            .img1 {
                position: relative;
                z-index: 1;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }
                ul {
                    background: var(--ztc-bg-bg-1);
                    display: inline-block;
                    padding: 8px 10px;
                    border-radius: 88px;
                    position: absolute;
                    bottom: 110px;
                    transition: all 0.6s;
                    z-index: 1;
                    left: 50%;
                    margin-left: -80px;
                    visibility: hidden;
                    opacity: 0;
                    li {
                        display: inline-block;
                        a {
                            height: 44px;
                            width: 44px;
                            text-align: center;
                            line-height: 44px;
                            border-radius: 50%;
                            transition: all .4s;
                            color: var(--ztc-text-text-5);
                            background: rgba(255, 10, 84, 0.06);
                            display: inline-block;
                            &:hover {
                                background: var(--ztc-bg-bg-7);
                                transition: all .4s;
                                color: var(--ztc-text-text-1);
                            }
                        }
                    }
                }
            }
            .content-area {
                a {
                    color: var(--ztc-text-text-1);
                    text-align: center;
                    font-family: var(--ztc-family-font2);
                    font-size: var(--ztc-font-size-font-s24);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 24px;
                    letter-spacing: -0.48px;
                    text-transform: uppercase; 
                    display: inline-block;
                    transition: all .4s;
                    &:hover {
                        color: var(--ztc-text-text-8);
                        transition: all .4s;
                    }       
                }
                p {
                    color: var(--ztc-text-text-1);
                    text-align: center;
                    font-family: var(--ztc-family-font2);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 18px;
                    letter-spacing: -0.48px;
                    text-transform: uppercase; 
                    display: inline-block;
                    transition: all .4s;
                    opacity: 80%;
                }
            }
        }
    }
}

// Homepage 05 //
.team5-section-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    
    .team4-box {
        text-align: center;
        transition: all .4s;
        margin-bottom: 30px;
        &:hover {
            .image-area {
                .icon-area {
                    visibility: visible;
                    opacity: 1;
                    transition: all .4s;
                }
            }
        }
        .text-heading {
            h4 {
                a {
                    color: var(--ztc-text-text-9);
                    text-align: center;
                    font-family: var(--ztc-family-font2);
                    font-size: var(--ztc-font-size-font-s24);
                    font-style: normal;
                    font-weight: var(--ztc-weight-semibold);
                    line-height: 24px;
                    display: inline-block;
                    transition: all .4s;
                    &:hover {
                        color: var(--ztc-text-text-11);
                        transition: all .4s;
                    }
                }
            }
            p {
                color: var(--ztc-text-text-10);
                text-align: center;
                font-family: var(--ztc-family-2);
                font-size: var(--ztc-font-size-font-s18);
                font-style: normal;
                font-weight: var(--ztc-weight-medium);
                line-height: 18px;   
                padding-top: 16px; 
                display: inline-block;  
            }
        }
        .image-area {
            position: relative;
            .shape2 {
                position: absolute;
                left: 21px;
                top: -18px;
                transition: all .6s;
    
                @media #{$md} {
                    left: 37px;
                }
                @media #{$xs} {
                    left: 45px;
                }
            }
    
            .image {
                border-radius: 50%;
                height: 270px;
                width: 270px;
                position: relative;
                margin: auto;
                &::after {
                    position: absolute;
                    content: "";
                    left: 6px;
                    top: -17px;
                    border: 1px solid #E6E8E7;
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                }
                .img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    &::after {
                        position: absolute;
                        content: "";
                        height: 240px;
                        width: 240px;
                        left: 17px;
                        top: -3px;
                        border-radius: 50%;
                        background: var(--ztc-bg-bg-8);
                        visibility: hidden;
                        opacity: 0;
                        transform: scale(0.7);
                        transition: all .4s;
                    }
                    img {
                        height: 240px;
                        width: 240px;
                        object-fit: cover; 
                        position: relative;
                        left: 4px;
                        top: -2px;
                    }
                }
            }
    
            .icon-area {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -40px;
                margin-left: -18px;
                visibility: hidden;
                opacity: 0;
                transition: all .4s;
                a {
                    height: 50px;
                    width: 50px;
                    text-align: center;
                    line-height: 50px;
                    display: inline-block;
                    border-radius: 50%;
                    background: var(--ztc-bg-bg-9);
                    color: var(--ztc-text-text-1);
                    transition: all .4s;
                    font-size: var(--ztc-font-size-font-s24);
                }
            }
        }
    
        &:hover {
            transition: all .4s;
            transform: translateY(-10px);
            .image-area {
                .image {
                    .img {
                        &::after {
                            visibility: visible;
                            opacity: 70%;
                            transform: scale(1);
                            transition: all .4s;
                        }
                    }
                }
                    .shape2 {
                        transform: rotate(62deg);
                        transition: all .4s;
                     }
    
                    .icon-area {
                        opacity: 1;
                        transform: translateY(0);
                        transition: all .4s;
                    }
            }
        }
    }
}

// Homepage 06 //
.team6-section-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .team6-card-area {
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-radius: 8px;
        transition: all .4s;
        margin-bottom: 30px;
        &:hover {
            transform: translateY(-5px);
            transition: all .4s;
            .img1 {
                background: var(--ztc-bg-bg-4);
                transition: all .4s;
            }
            .content-area {
                ul {
                    right: 20px;
                    transition: all .4s;
                }
                .plus {
                    a {
                        transform: rotate(-45deg);
                        transition: all .4s;
                    }
                }
            }
        }
        
        .img1 {
            background: #F3F3F3;
            transition: all .4s;
            border-radius: 8px;
            img.team-img14 {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
                z-index: 2;
            }
            .elements32 {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }
        }
        .content-area {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 16px 0 16px;
            ul {
                position: absolute;
                bottom: 75px;
                right: -100px;
                transition: all .6s;
                z-index: 3;
                li {
                    a {
                        height: 32px;
                        width: 32px;
                        text-align: center;
                        line-height: 32px;
                        display: inline-block;
                        border-radius: 50%;
                        background: var(--ztc-bg-bg-1);
                        color: var(--ztc-text-text-5);
                        transition: all .4s;
                        font-size: var(--ztc-font-size-font-s16);
                        margin-bottom: 10px;
                        &:hover {
                            background: var(--ztc-bg-bg-10);
                            transition: all .4s;
                            color: var(--ztc-text-text-1);
                        }
                    }
                }
            }
            .text {
                a {
                    color: var(--ztc-text-text-5);
                    font-family: var(--ztc-family-font2);
                    font-size: var(--ztc-font-size-font-s20);
                    font-style: normal;
                    font-weight: var(--ztc-weight-semibold);
                    line-height: 20px; 
                    display: inline-block;
                    transition: all .4s;  
                    &:hover {
                        color: var(--ztc-text-text-12);
                        transition: all .4s;
                    }  
                }
                p {
                    color: var(--ztc-text-text-5);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 18px;
                    opacity: 70%;         
                }
            }
            .plus {
                a {
                    background: #F3F3F3;
                    border-width: 1px;
                    border: 1px solid rgba(9, 11, 14, 0.20);  
                    height: 40px;
                    width: 40px;
                    text-align: center;
                    line-height: 40px;
                    display: inline-block;
                    transition: all .4s;
                    color: var(--ztc-text-text-5);
                    font-size: var(--ztc-font-size-font-s18);
                    border-radius: 50%;
                }
            }
        }
    }
}

// Inner Pages //
.team-inner-section-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    
    .team4-box {
        &.box2 {
            text-align: center;
            transition: all .4s;
            &:hover {
                .image-area {
                    .icon-area {
                        visibility: visible;
                        opacity: 1;
                        transition: all .4s;
                    }
                }
            }
            .text-heading {
                h4 {
                    a {
                        color: var(--ztc-text-text-2);
                        text-align: center;
                        font-family: var(--ztc-family-font2);
                        font-size: var(--ztc-font-size-font-s24);
                        font-style: normal;
                        font-weight: var(--ztc-weight-semibold);
                        line-height: 24px;
                        display: inline-block;
                        transition: all .4s;
                        &:hover {
                            color: var(--ztc-text-text-4);
                            transition: all .4s;
                        }
                    }
                }
                p {
                    color: var(--ztc-text-text-3);
                    text-align: center;
                    font-family: var(--ztc-family-2);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 18px;   
                    padding-top: 16px; 
                    display: inline-block;  
                }
            }
            .image-area {
                position: relative;
                .shape2 {
                    position: absolute;
                    left: 21px;
                    top: -18px;
                    transition: all .6s;
        
                    @media #{$md} {
                        left: 37px;
                    }
                    @media #{$xs} {
                        left: 45px;
                    }
                }
        
                .image {
                    border-radius: 50%;
                    height: 270px;
                    width: 270px;
                    position: relative;
                    margin: auto;
                    &::after {
                        position: absolute;
                        content: "";
                        left: 6px;
                        top: -17px;
                        border: 1px solid #E6E8E7;
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                    }
                    .img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        &::after {
                            position: absolute;
                            content: "";
                            height: 240px;
                            width: 240px;
                            left: 17px;
                            top: -3px;
                            border-radius: 50%;
                            background: var(--ztc-bg-bg-2);
                            visibility: hidden;
                            opacity: 0;
                            transform: scale(0.7);
                            transition: all .4s;
                        }
                        img {
                            height: 240px;
                            width: 240px;
                            object-fit: cover; 
                            position: relative;
                            left: 4px;
                            top: -2px;
                        }
                    }
                }
        
                .icon-area {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -40px;
                    margin-left: -18px;
                    visibility: hidden;
                    opacity: 0;
                    transition: all .4s;
                    a {
                        height: 50px;
                        width: 50px;
                        text-align: center;
                        line-height: 50px;
                        display: inline-block;
                        border-radius: 50%;
                        background: var(--ztc-bg-bg-3);
                        color: var(--ztc-text-text-1);
                        transition: all .4s;
                        font-size: var(--ztc-font-size-font-s24);
                    }
                }
            }
        
            &:hover {
                transition: all .4s;
                transform: translateY(-10px);
                .image-area {
                    .image {
                        .img {
                            &::after {
                                visibility: visible;
                                opacity: 70%;
                                transform: scale(1);
                                transition: all .4s;
                            }
                        }
                    }
                        .shape2 {
                            transform: rotate(62deg);
                            transition: all .4s;
                         }
        
                        .icon-area {
                            opacity: 1;
                            transform: translateY(0);
                            transition: all .4s;
                        }
                }
            }
        }
    }
}

.team-details-section {
    position: relative;
    z-index: 1;
    .personal-info-boxarea {
        position: relative;
        z-index: 1;
        padding: 60px 40px 50px 40px;
        border-radius: 8px;
        .team5-box {
            &.box2 {
                text-align: center;
                transition: all .4s;
                &:hover {
                    .image-area {
                        .icon-area {
                            visibility: visible;
                            opacity: 1;
                            transition: all .4s;
                        }
                    }
                }
                .text-heading {
                    h4 {
                        a {
                            color: var(--ztc-text-text-1);
                            text-align: center;
                            font-family: var(--ztc-family-font2);
                            font-size: var(--ztc-font-size-font-s24);
                            font-style: normal;
                            font-weight: var(--ztc-weight-bold);
                            line-height: 24px;
                            display: inline-block;
                            transition: all .4s;
                            text-transform: uppercase;
                            &:hover {
                                color: var(--ztc-text-text-4);
                                transition: all .4s;
                            }
                        }
                    }
                    p {
                        color: var(--ztc-text-text-1);
                        text-align: center;
                        font-family: var(--ztc-family-2);
                        font-size: var(--ztc-font-size-font-s18);
                        font-style: normal;
                        font-weight: var(--ztc-weight-semibold);
                        line-height: 18px;   
                        padding-top: 16px; 
                        opacity: 80%;
                        padding-bottom: 22px;
                        border-bottom: 1px solid #575353;
                    }
                }
                .image-area {
                    position: relative;
                    .shape2 {
                        position: absolute;
                        left: 40px;
                        top: -18px;
                        transition: all .6s;
            
                        @media #{$md} {
                            left: 180px;
                        }
                        @media #{$xs} {
                            display: none;
                        }
                    }
            
                    .image {
                        border-radius: 50%;
                        height: 270px;
                        width: 270px;
                        position: relative;
                        margin: auto;
                        &::after {
                            position: absolute;
                            content: "";
                            left: 6px;
                            top: -17px;
                            border: 1px solid #a1a1a1;
                            height: 100%;
                            width: 100%;
                            border-radius: 50%;
                        }
                        .img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            img {
                                height: 240px;
                                width: 240px;
                                object-fit: cover; 
                                position: relative;
                                left: 4px;
                                top: -2px;
                            }
                        }
                    }
            
                    .icon-area {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-top: -40px;
                        margin-left: -18px;
                        visibility: hidden;
                        opacity: 0;
                        transition: all .4s;
                        a {
                            height: 50px;
                            width: 50px;
                            text-align: center;
                            line-height: 50px;
                            display: inline-block;
                            border-radius: 50%;
                            background: var(--ztc-bg-bg-3);
                            color: var(--ztc-text-text-1);
                            transition: all .4s;
                            font-size: var(--ztc-font-size-font-s24);
                        }
                    }
                }
            
                &:hover {
                    transition: all .4s;
                    .image-area {
                        .image {
                            .img {
                                &::after {
                                    visibility: visible;
                                    opacity: 70%;
                                    transform: scale(1);
                                    transition: all .4s;
                                }
                            }
                        }
                            .shape2 {
                                transform: rotate(62deg);
                                transition: all .4s;
                             }
            
                            .icon-area {
                                opacity: 1;
                                transform: translateY(0);
                                transition: all .4s;
                            }
                    }
                }
                .contact {
                    li {
                        a {
                            color: var(--ztc-text-text-1);
                            font-family: var(--ztc-family-font1);
                            font-size: var(--ztc-font-size-font-s18);
                            font-style: normal;
                            font-weight: var(--ztc-weight-medium);
                            line-height: 18px; 
                            display: inline-block;
                            transition: all .4s;   
                            padding-bottom: 16px;
                            svg {
                                margin: 0 4px 0 0;
                            }  
                        }
                    }
                }
                .social {
                    li {
                        display: inline-block;
                        a {
                            background: rgba(255, 255, 255, 0.20);
                            height: 46px;
                            width: 46px;
                            text-align: center;
                            line-height: 46px;
                            border-radius: 50%;
                            color: var(--ztc-text-text-1);
                            transition: all .4s;
                            display: inline-block;
                            font-size: var(--ztc-font-size-font-s18);  
                            &:hover {
                                background: var(--ztc-bg-bg-3);
                                transition: all .4s;
                            }     
                        }
                    }
                }
            }
        }
    }

    .heading1 {
        @media #{$xs} {
           margin-top: 30px; 
        }
        @media #{$md} {
            margin-top: 30px; 
         }
        h3 {
            color: var(--ztc-text-text-2);
            font-family: var(--ztc-family-font2);
            font-size: var(--ztc-font-size-font-s32);
            font-style: normal;
            font-weight: var(--ztc-weight-semibold);
            line-height: 32px;
            letter-spacing: -0.96px;
            text-transform: uppercase;     
        }
        ul {
            li {
                display: flex;
                align-items: center;
                padding-top: 18px;
                @media #{$xs} {
                    display: inline-block;
                }
                input {
                    accent-color: var(--ztc-bg-bg-2);
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    margin: 0 8px 0 0;
                    @media #{$xs} {
                        position: relative;
                        top: 5px;
                    }
                }
                color: var(--ztc-text-text-2);
                font-family: var(--ztc-family-font2);
                font-size: var(--ztc-font-size-font-s18);
                font-style: normal;
                font-weight: var(--ztc-weight-semibold);
                line-height: 18px;
                letter-spacing: -0.36px;
                text-transform: uppercase;
                span {
                    color: var(--ztc-text-text-3);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-semibold);
                    line-height: 18px; 
                    display: inline-block;
                    padding-left: 20px; 
                    text-transform: capitalize;   
                    @media #{$xs} {
                        padding-top: 10px;
                    }   
                }
            }
        }
    }
}
/*============= TEAM CSS AREA STARTS ===============*/