@use '../../utils/' as * ;

/*============= FOOTER CSS AREA ===============*/
.vl-footer1-section-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 80px 0 32px;
    .footer-description-area {
        img {
            width: 164px;
            height: 44px;
            object-fit: cover;
        }
        p {
            color: var(--ztc-text-text-3);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s18);
            font-style: normal;
            font-weight: var(--ztc-weight-medium);
            line-height: 28px; 
            letter-spacing: -0.36px;      
        }
        ul {
            li {
                display: inline-block;
                a {
                    height: 44px;
                    width: 44px;
                    text-align: center;
                    line-height: 44px;
                    display: inline-block;
                    transition: all .4s;
                    background: var(--ztc-bg-bg-1);
                    border-radius: 50%;
                    color: var(--ztc-text-text-2);
                    &:hover {
                        background: var(--ztc-bg-bg-3);
                        transition: all .4;
                        color: var(--ztc-text-text-1);
                    }

                }
            }
        }
    }

    .footer-links-area {
        &.padding-top {
            padding-left: 70px;
            @media #{$xs} {
                padding: 0;
            }
            @media #{$md} {
                padding: 0;
            }
            ul {
                li {
                    a {
                        &:hover {
                            padding-left: 5px;
                            transition: all .4s;
                        }
                    }
                }
            }
        }
        h3 {
            color: var(--ztc-text-text-2);
            font-family: var(--ztc-family-font2);
            font-size: var(--ztc-font-size-font-s24);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 24px; /* 100% */
            letter-spacing: -0.48px;
            text-transform: uppercase; 
        }
        ul {
            li {
                a {
                    color: var(--ztc-text-text-3);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 16px;
                    display: inline-block;
                    transition: all .4s;
                    padding-top: 24px; 
                    svg {
                        margin: -4px 4px 0 0;
                    } 
                    &:nth-child(5) {
                        text-decoration: underline;
                    }
                    &:hover {
                        color: var(--ztc-text-text-4);
                        transition: all .4s;
                    }    
                }
            }
        }
        .img1 {
            position: relative;
            z-index: 1;
            overflow: hidden;
            transition: all .4s;
            border-radius: 4px;
            margin-top: 12px;
            &:hover {
                .icons {
                    a {
                        visibility: visible;
                        opacity: 1;
                        transition: all .4s;
                    }
                }
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 4px;
            }
            .icons {
                a {
                    height: 32px;
                    width: 32px;
                    text-align: center;
                    line-height: 32px;
                    background: var(--ztc-bg-bg-3);
                    color: var(--ztc-text-text-1);
                    transition: all .4s;
                    display: inline-block;
                    border-radius: 4px;
                    font-size: var(--ztc-font-size-font-s18);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -16px;
                    margin-top: -16px;
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }
    }
    .copyright-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #E8E7EA;
        padding-top: 28px;
        @media #{$xs} {
            display: inline-block;
            text-align: center;
        }
        p {
            color: var(--ztc-text-text-3);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s18);
            font-style: normal;
            font-weight: var(--ztc-weight-medium);
            line-height: 18px;
            display: inline-block;
            transition: all .4s;    
            @media #{$xs} {
                line-height: 24px;
            } 
        }
        ul {
            @media #{$xs} {
                padding-top: 20px;
            }
            li {
                display: inline-block;
                a {
                    color: var(--ztc-text-text-3);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 18px;
                    display: inline-block;
                    transition: all .4s;  
                }
                span {
                    opacity: 20%;
                    margin: 0 8px;
                }
            }
        }
    }
}

// Homepage 02 //
.vl-footer2-section-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .footer-list {
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media #{$xs} {
                display: block;
            }
            li {
                a {
                    color: var(--ztc-text-text-5);
                    font-family: var(--ztc-family-font2);
                    font-size: var(--ztc-font-size-font-s32);
                    font-style: normal;
                    font-weight: var(--ztc-weight-semibold);
                    line-height: 32px; 
                    display: block;
                    transition: all .4s; 
                    @media #{$xs} {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    .footer-widget-area {
        &.box2 {
            padding-left: 50px;
            @media #{$xs} {
                padding-left: 0;
            }
            @media #{$md} {
                padding-left: 0;
            }
        }
        h3 {
            color: var(--ztc-text-text-5);
            font-family: var(--ztc-family-font2);
            font-size: var(--ztc-font-size-font-s40);
            font-style: normal;
            font-weight: var(--ztc-weight-semibold);
            line-height: 40px;
        }
        p {
            color: var(--ztc-text-text-5);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s20);
            font-style: normal;
            font-weight: var(--ztc-weight-regular);
            line-height: 30px; 
            display: inline-block;
            opacity: 70%;       
        }
        ul {
            li {
                a {
                    color: var(--ztc-text-text-5);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s20);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 20px;
                    display: inline-block;
                    transition: all .4s;
                    padding-top: 20px;
                    svg {
                        margin: 0 4px 0 0;
                    }
                    &:hover {
                        color: var(--ztc-text-text-5);
                        transition: all .4s;
                    }         
                }
            }
        }
    }
    .footer-widget-box {
        &.box2 {
            margin-left: 40px;
            @media #{$xs} {
                margin-left: 0;
                margin-top: 30px;
            }
            @media #{$md} {
                margin-left: 0;
            }
        }
        padding: 20px 16px 0 16px;
        background: var(--ztc-bg-bg-4);
        border-radius: 8px;
        .input-area {
            margin-bottom: 20px;
            input {
                width: 100%;
                border-radius: 8px;
                border: 1px solid rgba(255, 255, 255, 0.10);
                background: rgba(255, 255, 255, 0.10);
                padding: 17px 16px;
                color: var(--ztc-text-text-1);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s16);
                font-style: normal;
                font-weight: var(--ztc-weight-medium);
                line-height: 16px;  
                &::placeholder {
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 16px;       
                }  
            }
            button {
                width: 100%;
                text-align: center;
                border: none;
                outline: none;
                display: block;
                &:hover {
                    color: var(--ztc-text-text-5);
                    transition: all .4s;
                }
                &::after {
                    background: var(--ztc-bg-bg-1);
                    transition: all .4s;
                }
            }
        }
    }
    .copyright-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media #{$xs} {
            display: inline-block;
        }
        p {
            color: var(--ztc-text-text-5);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s18);
            font-style: normal;
            font-weight: var(--ztc-weight-medium);
            line-height: 18px;
            display: inline-block;
            transition: all .4s;   
            opacity: 80%; 
            @media #{$xs} {
                line-height: 24px;
            } 
        }
        ul {
            @media #{$xs} {
                padding: 0;
            }
            li {
                display: inline-block;
                a {
                    color: var(--ztc-text-text-5);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 18px;
                    display: inline-block;
                    transition: all .4s;  
                    opacity: 80%;
                }
                span {
                    opacity: 20%;
                    margin: 0 8px;
                }
            }
        }
    }
}

// Homepage 03 //
.vl-footer3-section-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 80px 0 32px;
    .footer-description-area {
        h3 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s32);
            font-style: normal;
            font-weight: var(--ztc-weight-semibold);
            line-height: 32px;     
        }
        p {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s18);
            font-style: normal;
            font-weight: var(--ztc-weight-medium);
            line-height: 28px; 
            letter-spacing: -0.36px;  
            opacity: 70%;    
        }
        a.date {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s18);
            font-style: normal;
            font-weight: var(--ztc-weight-medium);
            line-height: 28px; 
            letter-spacing: -0.36px;  
            opacity: 70%;    
            display: inline-block;
        }
    }

    .footer-links-area {
        &.padding-top {
            padding-left: 70px;
            @media #{$xs} {
                padding: 0;
            }
            @media #{$md} {
                padding: 0;
            }
            ul {
                li {
                    a {
                        &:hover {
                            padding-left: 5px;
                            transition: all .4s;
                        }
                    }
                }
            }
        }
        h3 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s24);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 24px; /* 100% */
            letter-spacing: -0.48px;
        }
        ul {
            li {
                a {
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 16px;
                    display: inline-block;
                    transition: all .4s;
                    padding-top: 24px; 
                    opacity: 70%;
                    svg {
                        margin: -4px 4px 0 0;
                        filter: brightness(0) invert(1);
                    } 
                    i {
                        margin: 0 4px 0 0;
                    } 
                    &:nth-child(5) {
                        text-decoration: underline;
                    }
                    &:hover {
                        color: var(--ztc-text-text-7);
                        transition: all .4s;
                    }    
                }
            }
        }
        .img1 {
            position: relative;
            z-index: 1;
            overflow: hidden;
            transition: all .4s;
            border-radius: 4px;
            margin-top: 12px;
            &:hover {
                .icons {
                    a {
                        visibility: visible;
                        opacity: 1;
                        transition: all .4s;
                    }
                }
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 4px;
            }
            .icons {
                a {
                    height: 32px;
                    width: 32px;
                    text-align: center;
                    line-height: 32px;
                    background: var(--ztc-bg-bg-3);
                    color: var(--ztc-text-text-1);
                    transition: all .4s;
                    display: inline-block;
                    border-radius: 4px;
                    font-size: var(--ztc-font-size-font-s18);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -16px;
                    margin-top: -16px;
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }
    }
    .copyright-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #222326;
        padding-top: 28px;
        @media #{$xs} {
            display: inline-block;
            text-align: center;
        }
        p {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s18);
            font-style: normal;
            font-weight: var(--ztc-weight-medium);
            line-height: 18px;
            display: inline-block;
            transition: all .4s;   
            opacity: 70%;
            img {
                width: 90px;
                height: 24px;
                object-fit: cover;
                margin: 0 10px 0 0;
            } 
            @media #{$xs} {
                line-height: 24px;
            } 
        }
        ul {
            @media #{$xs} {
                padding-top: 20px;
            }
            li {
                display: inline-block;
                a {
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 18px;
                    display: inline-block;
                    transition: all .4s;  
                    opacity: 70%;
                }
            }
        }
    }
}

// Homepage 04 //
.vl-footer4-section-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .footer-bg-area {
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.10);
        position: relative;
        z-index: 1;
        padding: 40px;
        .footer-description-area {
            img {
             width: 164px;
             height: 44px;
             object-fit: contain;
             filter: brightness(0) invert(1);
            }
            form {
                position: relative;
                z-index: 1;
                input {
                    background: var(--ztc-bg-bg-1);
                    color: var(--ztc-text-text-5);
                    font-family: var(--ztc-family-font2);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 18px; 
                    display: inline-block;
                    width: 100%;
                    border-radius: 90px;
                    background: var(--ztc-bg-bg-1);
                    padding: 26px 20px;
                }
                button {
                    height: 54px;
                    width: 54px;
                    text-align: center;
                    line-height: 46px;
                    display: inline-block;
                    transition: all .4s;
                    border-radius: 50%;
                    background: var(--ztc-bg-bg-7);
                    border: none;
                    outline: none;
                    position: absolute;
                    right: 12px;
                    top: 10px;

                    svg {
                        transition: all .4s;
                    }
                    &:hover {
                        background: var(--ztc-bg-bg-4);
                        transition: all .4s;
                        svg {
                            transform: rotate(45deg);
                            transition: all .4s;
                        }
                    }
                }
            }
             p {
                 color: var(--ztc-text-text-1);
                 font-family: var(--ztc-family-font2);
                 font-size: var(--ztc-font-size-font-s18);
                 font-style: normal;
                 font-weight: var(--ztc-weight-medium);
                 line-height: 28px; 
                 letter-spacing: -0.36px;  
                 opacity: 70%;    
             }
            
         }
     
         .footer-links-area {
            .map {
                iframe {
                    height: 200px;
                    width: 595px;
                    border-radius: 8px;
                }
            }
             &.padding-top {
                 padding-left: 70px;
                 @media #{$xs} {
                     padding: 0;
                 }
                 @media #{$md} {
                     padding: 0;
                 }
                 ul {
                     li {
                         a {
                             &:hover {
                                 padding-left: 5px;
                                 transition: all .4s;
                             }
                         }
                     }
                 }
             }
             h3 {
                 color: var(--ztc-text-text-1);
                 font-family: var(--ztc-family-font2);
                 font-size: var(--ztc-font-size-font-s24);
                 font-style: normal;
                 font-weight: var(--ztc-weight-bold);
                 line-height: 24px;
                 letter-spacing: -0.48px;
                 text-transform: uppercase;
             }
             ul {
                 li {
                     a {
                         color: var(--ztc-text-text-1);
                         font-family: var(--ztc-family-font2);
                         font-size: var(--ztc-font-size-font-s16);
                         font-style: normal;
                         font-weight: var(--ztc-weight-medium);
                         line-height: 16px;
                         display: inline-block;
                         transition: all .4s;
                         padding-top: 24px; 
                         opacity: 70%;
                         svg {
                             margin: -4px 4px 0 0;
                             filter: brightness(0) invert(1);
                         } 
                         i {
                             margin: 0 4px 0 0;
                         } 
                         &:nth-child(5) {
                             text-decoration: underline;
                         }
                         &:hover {
                             color: var(--ztc-text-text-8);
                             transition: all .4s;
                         }    
                     }
                 }
             }
             .img1 {
                 position: relative;
                 z-index: 1;
                 overflow: hidden;
                 transition: all .4s;
                 border-radius: 4px;
                 margin-top: 12px;
                 &:hover {
                     .icons {
                         a {
                             visibility: visible;
                             opacity: 1;
                             transition: all .4s;
                         }
                     }
                 }
                 img {
                     height: 100%;
                     width: 100%;
                     object-fit: cover;
                     border-radius: 4px;
                 }
                 .icons {
                     a {
                         height: 32px;
                         width: 32px;
                         text-align: center;
                         line-height: 32px;
                         background: var(--ztc-bg-bg-3);
                         color: var(--ztc-text-text-1);
                         transition: all .4s;
                         display: inline-block;
                         border-radius: 4px;
                         font-size: var(--ztc-font-size-font-s18);
                         position: absolute;
                         top: 50%;
                         left: 50%;
                         margin-left: -16px;
                         margin-top: -16px;
                         visibility: hidden;
                         opacity: 0;
                     }
                 }
             }
         }
         .copyright-area {
             display: flex;
             align-items: center;
             justify-content: space-between;
             border-top: 1px solid #5D3B89;
             padding-top: 28px;
             @media #{$xs} {
                 display: inline-block;
                 text-align: center;
             }
             p {
                 color: var(--ztc-text-text-1);
                 font-family: var(--ztc-family-font1);
                 font-size: var(--ztc-font-size-font-s18);
                 font-style: normal;
                 font-weight: var(--ztc-weight-medium);
                 line-height: 18px;
                 display: inline-block;
                 transition: all .4s;   
                 opacity: 70%;
                 img {
                     width: 90px;
                     height: 24px;
                     object-fit: cover;
                     margin: 0 10px 0 0;
                 } 
                 @media #{$xs} {
                     line-height: 24px;
                 } 
             }
             ul {
                 @media #{$xs} {
                     padding-top: 20px;
                 }
                 li {
                     display: inline-block;
                     span {
                        color: var(--ztc-text-text-1);
                        opacity: 40%;
                        display: inline-block;
                        margin: 0 10px;
                     }
                     a {
                         color: var(--ztc-text-text-1);
                         font-family: var(--ztc-family-font1);
                         font-size: var(--ztc-font-size-font-s18);
                         font-style: normal;
                         font-weight: var(--ztc-weight-medium);
                         line-height: 18px;
                         display: inline-block;
                         transition: all .4s;  
                         opacity: 70%;
                     }
                 }
             }
         }
    }
}

// Homepage 05 //
.vl-footer5-section-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 80px 0 32px;
    .footer-description-area {
        img {
            width: 164px;
            height: 44px;
            object-fit: cover;
        }
        p {
            color: var(--ztc-text-text-10);
            font-family: var(--ztc-family-font2);
            font-size: var(--ztc-font-size-font-s18);
            font-style: normal;
            font-weight: var(--ztc-weight-medium);
            line-height: 28px; 
            letter-spacing: -0.36px;      
        }
        ul {
            li {
                display: inline-block;
                a {
                    height: 44px;
                    width: 44px;
                    text-align: center;
                    line-height: 44px;
                    display: inline-block;
                    transition: all .4s;
                    background: #F1F1F8;
                    border-radius: 50%;
                    color: var(--ztc-text-text-9);
                    &:hover {
                        background: var(--ztc-bg-bg-9);
                        transition: all .4;
                        color: var(--ztc-text-text-1);
                    }

                }
            }
        }
    }

    .footer-links-area {
        &.padding-top {
            padding-left: 70px;
            @media #{$xs} {
                padding: 0;
            }
            @media #{$md} {
                padding: 0;
            }
            ul {
                li {
                    a {
                        &:hover {
                            padding-left: 5px;
                            transition: all .4s;
                        }
                    }
                }
            }
        }
        h3 {
            color: var(--ztc-text-text-2);
            font-family: var(--ztc-family-font2);
            font-size: var(--ztc-font-size-font-s24);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 24px; /* 100% */
            letter-spacing: -0.48px;
            text-transform: uppercase; 
        }
        ul {
            li {
                a {
                    color: var(--ztc-text-text-10);
                    font-family: var(--ztc-family-font2);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 16px;
                    display: inline-block;
                    transition: all .4s;
                    padding-top: 24px; 
                    svg {
                        margin: -4px 4px 0 0;
                    } 
                    &:nth-child(5) {
                        text-decoration: underline;
                    }
                    &:hover {
                        color: var(--ztc-text-text-11);
                        transition: all .4s;
                    }    
                }
            }
        }
        
        .map {
            iframe {
                width: 100%;
                height: 180px;
                border-radius: 16px;
            }
        }
    }
    .copyright-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #E8E7EA;
        padding-top: 28px;
        @media #{$xs} {
            display: inline-block;
            text-align: center;
        }
        p {
            color: var(--ztc-text-text-10);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s18);
            font-style: normal;
            font-weight: var(--ztc-weight-medium);
            line-height: 18px;
            display: inline-block;
            transition: all .4s; 
            opacity: 80%;   
            @media #{$xs} {
                line-height: 24px;
            } 
        }
        ul {
            @media #{$xs} {
                padding-top: 20px;
            }
            li {
                display: inline-block;
                a {
                    color: var(--ztc-text-text-10);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 18px;
                    display: inline-block;
                    transition: all .4s; 
                    opacity: 80%; 
                }
                span {
                    opacity: 20%;
                    margin: 0 8px;
                }
            }
        }
    }
}

// Homepage 03 //
.vl-footer6-section-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 100px 0 32px;
    background: var(--ztc-bg-bg-4);
    .footer-description-area {
        padding: 0 30px 0 0;
        @media #{$xs} {
            padding: 0;
        }
        @media #{$md} {
            padding: 0;
        }
        img {
            width: 164px;
            height: 44px;
            object-fit: cover;
        }
        p {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s18);
            font-style: normal;
            font-weight: var(--ztc-weight-regular);
            line-height: 28px; 
            letter-spacing: -0.36px;  
            opacity: 70%;    
        }
        form {
            position: relative;
            z-index: 1;
            input {
                border-radius: 8px;
                border: 1px solid rgba(255, 255, 255, 0.10);
                background: rgba(255, 255, 255, 0.10); 
                width: 100%;
                color: var(--ztc-text-text-1);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s18);
                font-style: normal;
                font-weight: var(--ztc-weight-regular);
                line-height: 18px;  
                padding: 30px 16px; 
                &::placeholder {
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 18px; 
                    opacity: 70%;
                }         
            }
            button {
                border: none;
                outline: none;
                position: absolute;
                right: 8px;
                top: 14px;
            }
        }
    }

    .footer-links-area {
        &.padding-top {
            padding-left: 70px;
            @media #{$xs} {
                padding: 0;
            }
            @media #{$md} {
                padding: 0;
            }
            ul {
                li {
                    a {
                        &:hover {
                            padding-left: 5px;
                            transition: all .4s;
                        }
                    }
                }
            }
        }
        h3 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s24);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 24px;
            letter-spacing: -0.48px;
        }
        ul {
            li {
                a {
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 16px;
                    display: inline-block;
                    transition: all .4s;
                    padding-top: 24px; 
                    opacity: 70%;
                    svg {
                        margin: -4px 4px 0 0;
                        filter: brightness(0) invert(1);
                    } 
                    i {
                        margin: 0 4px 0 0;
                    } 
                    &:nth-child(5) {
                        text-decoration: underline;
                    }
                    &:hover {
                        color: var(--ztc-text-text-12);
                        transition: all .4s;
                    }    
                }
            }
        }
        .img1 {
            position: relative;
            z-index: 1;
            overflow: hidden;
            transition: all .4s;
            border-radius: 4px;
            margin-top: 12px;
            &:hover {
                .icons {
                    a {
                        visibility: visible;
                        opacity: 1;
                        transition: all .4s;
                    }
                }
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 4px;
            }
            .icons {
                a {
                    height: 32px;
                    width: 32px;
                    text-align: center;
                    line-height: 32px;
                    background: var(--ztc-bg-bg-3);
                    color: var(--ztc-text-text-1);
                    transition: all .4s;
                    display: inline-block;
                    border-radius: 4px;
                    font-size: var(--ztc-font-size-font-s18);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -16px;
                    margin-top: -16px;
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }
    }
    .copyright-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #222326;
        padding-top: 28px;
        @media #{$xs} {
            display: inline-block;
            text-align: center;
        }
        p {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s18);
            font-style: normal;
            font-weight: var(--ztc-weight-medium);
            line-height: 18px;
            display: inline-block;
            transition: all .4s;   
            opacity: 70%;
        }
        ul {
            @media #{$xs} {
                padding-top: 20px;
            }
            li {
                display: inline-block;
                a {
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 18px;
                    display: inline-block;
                    transition: all .4s;  
                    opacity: 70%;
                }
            }
        }
    }
}

// Inner Pages //
.vl-footer1-section-area.footer-inner {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 80px 0 32px;
    .footer-description-area {
        img {
            width: 164px;
            height: 44px;
            object-fit: cover;
            filter: brightness(0) invert(1);
        }
        p {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s18);
            font-style: normal;
            font-weight: var(--ztc-weight-medium);
            line-height: 28px; 
            letter-spacing: -0.36px;
            opacity: 80%;      
        }
        ul {
            li {
                display: inline-block;
                a {
                    height: 44px;
                    width: 44px;
                    text-align: center;
                    line-height: 44px;
                    display: inline-block;
                    transition: all .4s;
                    border-radius: 60px;
                    background: rgba(255, 255, 255, 0.10);
                    border-radius: 50%;
                    color: var(--ztc-text-text-1);
                    &:hover {
                        background: var(--ztc-bg-bg-3);
                        transition: all .4;
                        color: var(--ztc-text-text-1);
                    }

                }
            }
        }
    }

    .footer-links-area {
        &.padding-top {
            padding-left: 70px;
            @media #{$xs} {
                padding: 0;
            }
            @media #{$md} {
                padding: 0;
            }
            ul {
                li {
                    a {
                        &:hover {
                            padding-left: 5px;
                            transition: all .4s;
                        }
                    }
                }
            }
        }
        h3 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font2);
            font-size: var(--ztc-font-size-font-s24);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 24px; /* 100% */
            letter-spacing: -0.48px;
            text-transform: uppercase; 
        }
        ul {
            li {
                a {
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 16px;
                    display: inline-block;
                    transition: all .4s;
                    padding-top: 24px;
                    opacity: 80%; 
                    svg {
                        margin: -4px 4px 0 0;
                        filter: brightness(0) invert(1);
                    } 
                    &:nth-child(5) {
                        text-decoration: underline;
                    }
                    &:hover {
                        color: var(--ztc-text-text-4);
                        transition: all .4s;
                    }    
                }
            }
        }
        .img1 {
            position: relative;
            z-index: 1;
            overflow: hidden;
            transition: all .4s;
            border-radius: 4px;
            margin-top: 12px;
            &:hover {
                .icons {
                    a {
                        visibility: visible;
                        opacity: 1;
                        transition: all .4s;
                    }
                }
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 4px;
            }
            .icons {
                a {
                    height: 32px;
                    width: 32px;
                    text-align: center;
                    line-height: 32px;
                    background: var(--ztc-bg-bg-3);
                    color: var(--ztc-text-text-1);
                    transition: all .4s;
                    display: inline-block;
                    border-radius: 4px;
                    font-size: var(--ztc-font-size-font-s18);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -16px;
                    margin-top: -16px;
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }
    }
    .copyright-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #292140;
        padding-top: 28px;
        @media #{$xs} {
            display: inline-block;
            text-align: center;
        }
        p {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s18);
            font-style: normal;
            font-weight: var(--ztc-weight-medium);
            line-height: 18px;
            display: inline-block;
            transition: all .4s; 
            opacity: 80%;   
            @media #{$xs} {
                line-height: 24px;
            } 
        }
        ul {
            @media #{$xs} {
                padding-top: 20px;
            }
            li {
                display: inline-block;
                a {
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 18px;
                    display: inline-block;
                    transition: all .4s;
                    opacity: 80%;  
                }
                span {
                    opacity: 20%;
                    margin: 0 8px;
                    color: var(--ztc-text-text-1);
                }
            }
        }
    }
}
/*============= FOOTER CSS AREA ===============*/
