@use '../utils/' as *;

/*============= COMMON CSS AREA ===============*/
// HEADING AREA //
.heading1 {
  h5 {
    color: var(--ztc-text-text-4);
    font-family: var(--ztc-family-font2);
    font-size: var(--ztc-font-size-font-s20);
    font-style: normal;
    font-weight: var(--ztc-weight-semibold);
    line-height: 20px;
    letter-spacing: -0.4px;
    text-transform: uppercase; 
    display: inline-block;
    transition: all .4s;
    border-radius: 6px;
    background: rgba(255, 10, 84, 0.08);
    padding: 10px;
    img {
      margin: 0 4px 0 0;
    }   
  }

  h2 {
    color: var(--ztc-text-text-2);
    font-family: var(--ztc-family-font2);
    font-size: var(--ztc-font-size-font-s48);
    font-style: normal;
    font-weight: var(--ztc-weight-bold);
    line-height: 64px;
    letter-spacing: -1.44px;
    text-transform: uppercase;
    display: inline-block;
    @media #{$xs} {
      font-size: var(--ztc-font-size-font-s32);
      line-height: 40px;
    }    
  }
  p {
    color: var(--ztc-text-text-3);
    font-family: var(--ztc-family-font1);
    font-size: var(--ztc-font-size-font-s18);
    font-style: normal;
    font-weight: var(--ztc-weight-medium);
    line-height: 26px; 
  }
}

.heading2 {
  h5 {
    color: var(--ztc-text-text-5);
    font-family: var(--ztc-family-font1);
    font-size: var(--ztc-font-size-font-s18);
    font-style: normal;
    font-weight: var(--ztc-weight-semibold);
    line-height: 18px; 
    text-transform: uppercase; 
    display: inline-block;
    transition: all .4s;
    img {
      height: 20px;
      width: 20px;
      object-fit: cover;
      margin: -5px 4px 0 0;
    }  
  }
  h2 {
    color: var(--ztc-text-text-5);
    font-family: var(--ztc-family-font2);
    font-size: var(--ztc-font-size-font-s44);
    font-style: normal;
    font-weight: var(--ztc-weight-bold);
    line-height: 52px;
    display: inline-block;
    @media #{$xs} {
      font-size: var(--ztc-font-size-font-s32);
      line-height: 40px;
    }
  }
  p {
    color: var(--ztc-text-text-5);
    font-family: var(--ztc-family-font1);
    font-size: var(--ztc-font-size-font-s20);
    font-style: normal;
    font-weight: var(--ztc-weight-regular);
    line-height: 30px; 
    opacity: 70%;
  }
}

.heading3 {
  h5 {
    color: var(--ztc-text-text-1);
    font-family: var(--ztc-family-font1);
    font-size: var(--ztc-font-size-font-s18);
    font-style: normal;
    font-weight: var(--ztc-weight-semibold);
    line-height: 18px; 
    text-transform: uppercase; 
    display: inline-block;
    transition: all .4s;
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.10);
    padding: 8px 16px;
    img {
      height: 20px;
      width: 20px;
      object-fit: cover;
      margin: -5px 4px 0 0;
      filter: brightness(0) invert(1);
    }  
  }
  h2 {
    color: var(--ztc-text-text-1);
    font-family: var(--ztc-family-font1);
    font-size: var(--ztc-font-size-font-s56);
    font-style: normal;
    font-weight: var(--ztc-weight-bold);
    line-height: 66px;
    display: inline-block;
    @media #{$xs} {
      font-size: var(--ztc-font-size-font-s32);
      line-height: 40px;
    }
  }
  p {
    color: var(--ztc-text-text-1);
    font-family: var(--ztc-family-font1);
    font-size: var(--ztc-font-size-font-s20);
    font-style: normal;
    font-weight: var(--ztc-weight-regular);
    line-height: 30px; 
    opacity: 70% !important;
  }
}

.heading4 {
  h5 {
    color: var(--ztc-text-text-1);
    font-family: var(--ztc-family-font2);
    font-size: var(--ztc-font-size-font-s20);
    font-style: normal;
    font-weight: var(--ztc-weight-semibold);
    line-height: 20px; 
    text-transform: uppercase; 
    display: inline-block;
    transition: all .4s;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.10);
    padding: 10px;
    img {
      height: 20px;
      width: 20px;
      object-fit: cover;
      margin: -5px 4px 0 0;
      filter: brightness(0) invert(1);
    }  
  }
  h2 {
    color: var(--ztc-text-text-1);
    font-family: var(--ztc-family-font2);
    font-size: var(--ztc-font-size-font-s60);
    font-style: normal;
    font-weight: var(--ztc-weight-bold);
    line-height: 76px;
    display: inline-block;
    text-transform: uppercase;
    @media #{$xs} {
      font-size: var(--ztc-font-size-font-s32);
      line-height: 40px;
    }
  }
  p {
    color: var(--ztc-text-text-1);
    font-family: var(--ztc-family-font2);
    font-size: var(--ztc-font-size-font-s18);
    font-style: normal;
    font-weight: var(--ztc-weight-medium);
    line-height: 26px; 
    opacity: 90% !important;
  }
}

.heading5 {
  h5 {
    color: var(--ztc-text-text-11);
    font-family: var(--ztc-family-font2);
    font-size: var(--ztc-font-size-font-s20);
    font-style: normal;
    font-weight: var(--ztc-weight-semibold);
    line-height: 20px; 
    text-transform: uppercase; 
    display: inline-block;
    transition: all .4s;
    border-radius: 6px;
    background: rgba(156, 85, 254, 0.10);
    padding: 10px;
    img {
      height: 20px;
      width: 20px;
      object-fit: cover;
      margin: -5px 4px 0 0;
    }  
  }
  h2 {
    color: var(--ztc-text-text-9);
    font-family: var(--ztc-family-font2);
    font-size: var(--ztc-font-size-font-s44);
    font-style: normal;
    font-weight: var(--ztc-weight-bold);
    line-height: 54px;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    .elements28 {
      position: absolute;
      top: -34px;
      right: -36px;
    }
    span {
      background: var(--ztc-bg-bg-9);
      padding: 6px;
      border-radius: 8px;
      display: inline-block;
      color: var(--ztc-text-text-1);
    }
    @media #{$xs} {
      font-size: var(--ztc-font-size-font-s32);
      line-height: 40px;
    }
  }
  p {
    color: var(--ztc-text-text-10);
    font-family: var(--ztc-family-font2);
    font-size: var(--ztc-font-size-font-s18);
    font-style: normal;
    font-weight: var(--ztc-weight-medium);
    line-height: 26px; 
    opacity: 90%;
  }
}

.heading6 {
  h5 {
    color: var(--ztc-text-text-5);
    font-family: var(--ztc-family-font1);
    font-size: var(--ztc-font-size-font-s18);
    font-style: normal;
    font-weight: var(--ztc-weight-semibold);
    line-height: 18px; 
    text-transform: uppercase; 
    display: inline-block;
    transition: all .4s;
    img {
      height: 20px;
      width: 20px;
      object-fit: cover;
      margin: -5px 4px 0 0;
    }  
  }
  h2 {
    color: var(--ztc-text-text-5);
    font-family: var(--ztc-family-font2);
    font-size: var(--ztc-font-size-font-s44);
    font-style: normal;
    font-weight: var(--ztc-weight-bold);
    line-height: 52px;
    display: inline-block;
    @media #{$xs} {
        font-size: var(--ztc-font-size-font-s32);
        line-height: 40px;
    }     
}
p {
    color: var(--ztc-text-text-5);
    font-family: var(--ztc-family-font1);
    font-size: var(--ztc-font-size-font-s20);
    font-style: normal;
    font-weight: var(--ztc-weight-regular);
    line-height: 30px;      
    opacity: 70% !important;
}
}
// BTN_AREA //
.vl-btn1 {
    display: inline-block;
    background-color: var(--ztc-bg-bg-3);
    color: var(--ztc-text-text-1);
    font-family: var(--ztc-family-font2);
    font-size: var(--ztc-font-size-font-s22);
    font-style: normal;
    font-weight: var(--ztc-weight-bold);
    line-height: 22px; /* 100% */
    text-transform: uppercase;
    border-radius: 8px;
    padding: 24px 32px;
    transition: 500ms;
    z-index: 2;
    position: relative;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    -webkit-transition-delay: calc((var(--n) - 1) * 0.1s);
    -moz-transition-delay: calc((var(--n) - 1) * 0.1s);
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    &:hover {
        color: var(--ztc-text-text-1);
        transition: all .4s;
        .nisoz-btn__shape {
            transform: translateY(0) scale(2);
            -moz-transform: translateY(0) scale(2);
            -moz-transform: translateY(0) scale(2);
            color: var(--ztc-text-text-1);
          }
    }
    .vl-btn1__text {
        position: relative;
        z-index: 2;
      }
      
      .nisoz-btn__shape {
        display: inline-block;
        position: absolute;
        width: 25%;
        height: 100%;
        background: var(--ztc-bg-bg-2);
        transform: translateY(150%);
        border-radius: 50%;
        left: calc((var(--b) - 1) * 25%);
        transition: 0.5s;
        transition-delay: calc((var(--b) - 1) * 0.1s);
        z-index: 1;
      }
      
      .nisoz-btn__shape:nth-child(1) {
        --b: 1;
      }
      
      .nisoz-btn__shape:nth-child(2) {
        --b: 2;
      }
      
      .nisoz-btn__shape:nth-child(3) {
        --b: 3;
      }
      
      .nisoz-btn__shape:nth-child(4) {
        --b: 4;
      }
}

.vl-btn2 {
    display: inline-block;
    padding: 18px 10px 18px 20px;
    color: var(--ztc-text-text-5);
    font-size: var(--ztc-font-size-font-s20);
    font-style: normal;
    font-weight: var(--ztc-weight-bold);
    line-height: 20px;
    position: relative;
    z-index: 2;
    font-family: var(--ztc-family-font1);
    border: none;
    overflow: hidden;
    background-color: var(--ztc-bg-bg-5);
    transition: all 0.4s;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    &::after {
        position: absolute;
        content: "";
        height: 100%;
        left: 0%;
        top: 0;
        transition: all .4s;
        background: var(--ztc-bg-bg-4);
        width: 100%;
        border-radius: 6px;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
    }
    span {
        display: inline-block;
        transform: rotate(-45deg) translateX(0px) translateY(1px);
        transition: all .4s;
      }
      .arrow2 {
        transform: translateY(-4px) rotate(-45deg) translateX(-48px);
        transition: all .4s;
        opacity: 0;
      }
      .arrow1 {
        transition: all .4s;
        opacity: 1;
      }
    
      &:hover {
        .arrow2 {
          transform: translateY(-12px) rotate(-45deg) translateX(-18px);
          transition: all .4s;
          opacity: 1;
        }
        .arrow1 {
          transition: all .4s;
          transform: translateY(-7px) rotate(-45deg) translateX(45px);
          opacity: 0;
        }
      }
      &:hover {
        color: var(--ztc-text-text-1);
        transition: all .4s;
        &::after {
            visibility: visible;
            opacity: 1;
            transition: all .4s;
            left: 0;
            width: 100%;
        }
      }
}

.vl-btn3 {
  display: inline-block;
  padding: 18px 10px 18px 20px;
  color: var(--ztc-text-text-5);
  font-size: var(--ztc-font-size-font-s20);
  font-style: normal;
  font-weight: var(--ztc-weight-bold);
  line-height: 20px;
  position: relative;
  z-index: 2;
  font-family: var(--ztc-family-font1);
  border: none;
  overflow: hidden;
  background-color: var(--ztc-bg-bg-6);
  transition: all 0.4s;
  border-radius: 56px;
  position: relative;
  z-index: 1;
  &::after {
      position: absolute;
      content: "";
      height: 100%;
      left: 50%;
      top: 0;
      transition: all .4s;
      background: var(--ztc-bg-bg-1);
      width: 10%;
      border-radius: 54px;
      z-index: -1;
      visibility: hidden;
      opacity: 0;
  }
  span {
      display: inline-block;
      transform: rotate(-45deg) translateX(0px) translateY(1px);
      transition: all .4s;
    }
    .arrow2 {
      transform: translateY(-4px) rotate(-45deg) translateX(-48px);
      transition: all .4s;
      opacity: 0;
    }
    .arrow1 {
      transition: all .4s;
      opacity: 1;
    }
  
    &:hover {
      .arrow2 {
        transform: translateY(-12px) rotate(-45deg) translateX(-18px);
        transition: all .4s;
        opacity: 1;
      }
      .arrow1 {
        transition: all .4s;
        transform: translateY(-7px) rotate(-45deg) translateX(45px);
        opacity: 0;
      }
    }
    &:hover {
      color: var(--ztc-text-text-5);
      transition: all .4s;
      &::after {
          visibility: visible;
          opacity: 1;
          transition: all .4s;
          left: 0;
          width: 100%;
      }
    }
}

.vl-btn4{
  overflow: hidden;
  &:hover {
      .arrow {
         margin-left: 4px;
         transition: all .4s; 
         transform: rotate(45deg);
      }
  }
  .text {
      color: var(--ztc-text-text-1);
      font-family: var(--ztc-family-font2);
      font-size: var(--ztc-font-size-font-s20);
      font-style: normal;
      font-weight: var(--ztc-weight-semibold);
      line-height: 20px; 
      display: inline-block;
      transition: all .4s;
      text-transform: uppercase;  
      padding: 20px 26px; 
      border-radius: 70px;
      background: var(--ztc-bg-bg-7);    
  }
  .arrow {
      height: 54px;
      width: 54px;
      text-align: center;
      line-height: 46px;
      border-radius: 50%;
      transition: all .4s;
      background: var(--ztc-bg-bg-7);
      color: var(--ztc-text-text-1);
      transform: rotate(0);
      display: inline-block;
      font-size: var(--ztc-font-size-font-s24);
  }
}

.vl-btn5 {
  color: var(--ztc-text-text-1);
  font-family: var(--ztc-family-font2);
  font-size: var(--ztc-font-size-font-s20);
  font-style: normal;
  font-weight: var(--ztc-weight-bold);
  line-height: 20px;
  text-transform: uppercase;  
  transition: all .4s;
  position: relative;
  z-index: 1;
  background: var(--ztc-bg-bg-9);
  padding: 24px 30px;
  display: inline-block;
  border-radius: 8px;
  &:hover {
      transition: all .4s;
      color: var(--ztc-text-text-1);
      &::before {
          width: 100%;
          transition: all .4s;
          visibility: visible;
          opacity: 1;
          left: 0;
          top: 0;
      }
      &::after {
          background: var(--ztc-bg-bg-1);
          opacity: 0.1;
          transition: all .4s;
      }
  }
  &::after {
      position: absolute;
      content: "";
      height: 48px;
      width: 48px;
      transition: all .4s;
      border-radius: 50%;
      background: var(--ztc-bg-bg-1);
      opacity: 0.1;
      left: 9px;
      top: 9px;
  } 
  &::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 1px;
      transition: all .4s;
      background: var(--ztc-bg-bg-8);
      left: 50%;
      top: 0;
      border-radius: 7px;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
  } 
}

.vl-btn6 {
  color: var(--ztc-text-text-1);
  font-family: var(--ztc-family-font1);
  font-size: var(--ztc-font-size-font-s20);
  font-style: normal;
  font-weight: var(--ztc-weight-bold);
  line-height: 20px;
  text-transform: capitalize;  
  transition: all .4s;
  position: relative;
  z-index: 1;
  background: var(--ztc-bg-bg-10);
  padding: 18px 20px;
  display: inline-block;
  border-radius: 8px;
  i {
    transform: rotate(-45deg);
    transition: all .4s;
    padding-left: 4px;
  }
  &:hover {
      transition: all .4s;
      color: var(--ztc-text-text-1);
      i {
        transform: rotate(0);
        transition: all .4s;
      }
      &::before {
          width: 100%;
          transition: all .4s;
          visibility: visible;
          opacity: 1;
          left: 0;
          top: 0;
      }
  }
  &::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 1px;
      transition: all .4s;
      background: var(--ztc-bg-bg-11);
      left: 50%;
      top: 0;
      border-radius: 7px;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
  } 
}
/*============= COMMON CSS AREA ENDS===============*/

.image-anime {
  position: relative;
  overflow: hidden;
}

.image-anime:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 0%;
  left: 50%;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 1;
}

.image-anime:hover:after {
  height: 250%;
  transition: all 600ms linear;
  background-color: transparent;
}

.reveal {
  position: relative;
  display: -ms-inline-flexbox;
  visibility: hidden;
  overflow: hidden;
}

.reveal img {
  height: 100%;
  width: 100%;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover;
  transform-origin: left;
}
.section-bg {
  background: #F6F6FF;
}
.section-bg2 {
  background: #fff;
}
.section-bg3 {
  background: var(--ztc-bg-bg-2);
}

.pagination-area {
  text-align: center;
  nav {
    ul {
      justify-self: center;
      li {
        border: none;
        box-sizing: none;
        a {
          border: none;
          outline: none;
          box-shadow: none;
          color: var(--ztc-text-text-2);
          text-align: center;
          font-family: var(--ztc-family-font2);
          font-size: var(--ztc-font-size-font-s24);
          font-style: normal;
          font-weight: var(--ztc-weight-bold);
          display: inline-block;
          transition: all .4s;  
          height: 60px;
          width: 60px;
          text-align: center;
          line-height: 60px;
          border-radius: 8px;
          background: #F6F6FF;
          height: auto;
          padding: 0;
          margin: 0 10px 0 0;
          &.active {
            background: var(--ztc-bg-bg-3);
            color: var(--ztc-text-text-1);
          }
          &:hover {
            background: var(--ztc-bg-bg-3);
            transition: all .4s;
            color: var(--ztc-text-text-1);

          }
          @media #{$xs} {
            height: 50px;
            width: 50px;
            line-height: 50px;
          }
        }
      }
    }
  }
}
